/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

:root {
   --bg-night: #1b1b1b; 
   --bg-light: #40826D;
    --bg-dark: #00563B;
    --bg-red: #800000;
   
    --text-dark: #800000(0, 100%, 25%, 0.733);
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg: #800000;
    --h1-text: #800000;
    --h2-text: #40826D;
    --h2-border: var(--h1-bg);
    --h3-text: #1b1b1b;

    --list-bg: #00563B;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg: #00563B;

    --def-bg: #00563B;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);
    
}

body{
background-color:var(--bg-dark);
color:var(--text-dark);
   display:grid;
grid-template-areas:
"header header"
"main nav"
"footer footer";

grid-template-columns: 5fr 1fr;
grid-template-rows:80px 1fr 30px;
}

header{
background-color:var(--bg-light);
   grid-area:header;   
color :var(--h1-text);
padding-left: 20px;
}

nav{
   background-color:var(--bg-light);
   grid-area:nav;
   
}

 li{
      margin: 50px;
   }

main{
   grid-area: main;
   display:flex;
   color:var(--h-text);
   background-color:var(--bg-dark);
   
}

footer{
   background-color:var(--bg-light);
   grid-area: footer;
color:var(--h3-text);
}
